@import url('https://fonts.googleapis.com/css?family=Bahianita&display=swap');
@import url('https://fonts.googleapis.com/css?family=Butterfly+Kids&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
  margin: 0;
}
nav {
  height: 6rem;
  background-color: paleturquoise;
  z-index: 1;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-brand {
  font-size: 48px;
  font-family: 'Bahianita', cursive;
  color: white;
  line-height: 6rem;
  text-decoration: none;
}
.game-section {
  background-color: #FFA533;
  height: 80vh;
  margin: 0;
  padding: 20px;
}

.game-section h2 {
  font-family: 'Butterfly Kids';
  font-size: 3rem;
  text-align: center;
}

.game-section-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  border-radius: 15px;
  padding: 15px;
}

.game-section-all div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.game-section-all h2 {
  margin: auto;
  font-family: 'Montserrat';
  font-size: 2rem;
}
.game-section-all img {
  width: 200px;
  margin: 20px;
}

.game-section-all a {
  margin: auto;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
}
