@import url('https://fonts.googleapis.com/css?family=Bahianita&display=swap');
@import url('https://fonts.googleapis.com/css?family=Butterfly+Kids&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
}

body{
  background-image: url(/../movie-back.jpg);
  margin: 0;
}
nav {
  height: 6rem;
  background-image: linear-gradient(90deg, #7231FF, #00ECBA);
  background-color: #;
  z-index: 1;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-brand {
  font-size: 48px;
  font-family: 'Bahianita', cursive;
  color: white;
  line-height: 6rem;
  padding: 0 20px;
  text-decoration: none;
}


.game-section-all {
  margin-left: 50%;
  transform: translateX(-50%);
}


.game-section-all div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 15px;
  padding: 15px;
  background: #FACA81;
  width: 50%;
}

.game-section-all h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Butterfly Kids';
  font-size: 3rem;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.game-section-all h3 {
  font-family: 'Montserrat';
  font-size: 25px;
  align-self: center;
}
.game-section-all img {
  width: 50%;
  align-self: center;
  border-radius: 15px;;
  margin: 20px;
}

.game-section-all a {
  margin: auto;
  font-family: 'Montserrat';
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
}

.game-section-all a:hover {
  border: 1px solid white;
  color: white;
}
