.lobby-main {

}

.game-info, .player-list {
  border: 1px solid black;
  height: 82vh;
  padding: 20px;
}

.game-info {
  display: inline-block;
  background-color: grey;
  justify-content: center;
  width: 65%;
}

.game-info > * {
  text-align: center;
}

.player-list {
  display: inline-block;
  background-color: goldenrod;
  justify-content: center;
  width: 25%;
}

.player-list > * {
  text-align: center;
}

.player-list-list {
  padding: 0;
}

.player-list-list li {
  list-style: none;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  margin: auto 0;
  display: flex;
  flex-direction: row;
}

input[name="username"] {
  height: 27px;
  margin-right: 10px;
  padding: 0;
}

button[name="login"] {
  border-radius: 5px;
  height: 30px;
  width: 50px;
  margin-left: 10px;
}

.start {
  display: inline-block;
  height: 20px;
  width: 50px;
  border: 2px solid blue;
  border-radius: 5px;
}