#container {
  width: 600px;
  background-color: beige;
  height: 600px;
  margin: 50px auto;

}

.row {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
}

.name {
  position: relative;
  display: inline-block;
  width: 75%;
  line-height: 45px;
  padding-left: 50px;
}

.position {
  position: relative;
  display: inline-block;
  width: 25%;
}

.row:nth-child(1) {
  background: gold;
}

.row:nth-child(2) {
  background: #c0c0c0;
}

.row:nth-child(3) {
  background: #cd7f32;
}

